@import "variables";
@import "mixins";

.footer-background{
    width: 100%;
    background-color: black;
}
.footer-container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: $container;
    margin: 0 auto;
    @media screen and (max-width:1380px) {
        width: 95%;
    }

    .footer__separator{
        width: 100%;
        height: 1px;
        background-color: rgb(54, 54, 54);
        margin: 24px 0 24px 0;
    }
    .footer-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        @media screen and (max-width:960px){
            flex-direction: column;
            align-items: center;
        }
    }
    
    .footer-leftside{
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width:960px){
            margin-bottom: 30px;
        }
        .footer-leftside__link{
            text-decoration: none;
        }
        .footer-leftside__logo{
            fill: $logocolor;
        }
        .footer-leftside__item{
            @include link-category();
            margin-left: 16px;
            
        }
    }
    .footer-rightside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:960px){
            flex-direction: column;
        }

        .footer-rightside__link{
            font-size: $fs6;
            color: $color1;
            font-family: $font1;
            text-decoration: none;
            margin-right: 24px;
            .footer-rightside__item1{
                @media screen and (max-width:960px){
                    display: none;
                }
            }
        }
        .footer-rightside__divider{
            width: 0.5px;
            height: 24px ;
            background-color: gray;
            margin-right: 24px;
            @media screen and (max-width:960px){
                display: none;
            }
        }
        .footer-rightside__item{
            font-size: $fs8;
            font-weight: 700;
            text-transform: uppercase;
            color: $color1;
            font-family: $font1;
            letter-spacing: 1px;
            margin: 0;
            @media screen and (max-width:960px){
                margin-bottom: 20px;
            }
        }
        .footer-rightside__icon{
            fill: $color2;
            height: 24px;
            width: 24px;
            margin-right: 20px;
        }
        .footer-rightside__icon_hover:hover{
            fill: $color1;
        }
        .footer-rightside__icon:first-of-type{
            margin-left: 20px;
        }
        
        .footer-rightside__button{
            border: 1px solid $color1;
            border-radius: 8px;
            padding: 4px 8px;
            font-size: $fs7;
            line-height: 20px;
            height: 32px;
            font-weight: 700;
            background-color: transparent;
            color: $color1;
            font-family: $font2;
            cursor: pointer;
            @media screen and (max-width:960px){
                display: none;
            }
        }
        .footer-rightside__button_hover:hover{
            background-color: rgb(46, 46, 46);
        }
    }
    .footer-links{
        @media screen and (max-width:1380px){
            text-align: center;
        }
        .footer-leftside__link{
            @include footer-text();
            text-decoration: none;
            margin-right: 16px;
            
        }
        .footer-leftside__link_hover:hover{
            text-decoration: underline;
        }
    }
    .footer-text{
        @include footer-text();
        margin: 24px 0 0 0;
        line-height: 20px;
        @media screen and (max-width:1380px) {
            text-align: center;
        }
        
    }
}

