@import "variables";
@import "mixins";

.topics-container{
    width: 1150px;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
    @media screen and (max-width:1380px) {
        width: 95%;
    }
    .topics{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:1130px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        .topics__link{
            font-size: $fs5;
            font-family: $font3;
            color: black;
            text-decoration: none;
            line-height: 22px;
        }
        .topics__link_hover:hover{
            text-decoration: underline;
        }
        .topics__divider{
            width: 2px;
            margin: 0px 10px 0px 10px;
            height: 18px;
            background-color: rgb(156, 156, 156);
        }
    }
}