$font1: CNN Sans Display Medium;
$font2: CNN Sans Display Bold;
$font3: CNN Sans Display W04 Regular;
$container: 1380px;
$color1: #ffffff;
$color2: #e6e6e6;
$color3: black;
$logocolor: #cc0000;
$fs1: 36px;
$fs2: 30px;
$fs3: 20px;
$fs4: 18px;
$fs5: 16px;
$fs6: 15px;
$fs7: 14px;
$fs8: 12px;